.base h1 {
    background-image: url(/ui/redblue@300x300);
}

#comodo logo strong {
    font-size: 18px;
    margin-top: -3px;
    padding: 7px 11px 4px 5px;
}

#comodo logo a {
    display: inline-block;
    position: relative;
    background: url(/ui/redblue@28x28) 0px 4px no-repeat;
    padding-left: 31px;
}

#comodo logo a sup, #comodo logo a sub {
    color: #1A3BA7;
}

#comodo logo a sup {
    vertical-align: baseline;
    font-size: 29px;
}

#comodo logo a sub {
    position: absolute;
    font-size: 8px;
    color: #1A3BA7;
    text-shadow: 2px 0px 0px #fff, -2px 0px 0px #fff, 0px 2px 0px #fff, 0px -2px 0px #fff, 1px 1px #fff, -1px -1px 0px #fff, 1px -1px 0px #fff, 0px 0px 4px #000;
    letter-spacing: 0px;
    top: auto;
    bottom: 0px;
    right: -5px;
}


#comodo logo a {
    color: #AF131F;
    font-size: 29px;
    letter-spacing: -2px;
    text-shadow: 2px 0px 0px #fff, -2px 0px 0px #fff, 0px 2px 0px #fff, 0px -2px 0px #fff, 1px 1px #fff, -1px -1px 0px #fff, 1px -1px 0px #fff, 2px 0px 4px #7d7d7d;
}

.avatar picture {
    background: linear-gradient(to right, #1A3BA7 0%, #1A3BA7 50%, #AF131F 50%, #AF131F 100%);
}

:nth-child(odd) .avatar picture {
    background: linear-gradient(to left, #AF131F 0%, #AF131F 50%, #1A3BA7 50%, #1A3BA7 100%);
}

h1, h2, h3, h4, h5, .links h2, .links h2 a {
    color: #AF131F;
}

ul.links li.hr, #breadcrumb a, #breadcrumb, #menu a:hover, #menu a.active, #comodo logo a g, .cooltxt .infos, .cooltxt .infos a, .links .url a {
    color: #1A3BA7;
}

.cooltxt .infos a {
    border-color: #1A3BA7;
}

.searcher li {
    border-left: 5px solid #AF131F;
}

.page_edit .item, .searcher li:nth-child(odd) {
    border-left: 5px solid #1A3BA7;
}

ul.links li:nth-child(odd) a:before, ul.links li:nth-child(odd) strong:before, .page_edit #pages_parents .parent:first-child, .arbo .duplicate svg, .arbo .add svg {
    background: #1A3BA7;
}

ul.links li a:before, ul.links li strong:before, nav.ancrage li a:hover {
    background: #AF131F;
}

ul.links li .add svg, .threads li .jump svg, .receivefile svg, #menu a:hover, #menu a.active {
    fill: #1A3BA7;
}

.page_edit .item:nth-child(odd) {
    border-left-color: #AF131F;
}

.threads li .admin svg, .threads li .jump.brown svg, ul.links li .remove svg {
    fill: #AF131F;
}

@media (min-width: 701px) {
    .post .avatar figcaption span {
        border-left: 2px solid #AF131F;
        border-right: 2px solid #1A3BA7;
        border-top: 2px solid #AF131F;
        border-bottom: 2px solid #1A3BA7;
    }
}

@media all and (max-width: 900px) {
    #menu ul a {
        color: #1A3BA7;
    }
}

nav.ancrage li a {
    border-radius: 20px;
    border: 1px solid #1A3BA7;
    box-shadow: 1px 1px 1px #d3d3d3;
    color: #1A3BA7;
}

nav.ancrage li a:hover {
    background: #1A3BA7;
    color: #FFF;
}

nav.ancrage li a svg {
    fill: #1A3BA7;
}
